<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Xi Zhu">
    <link rel="icon" href="/favicon.ico">

    <title>Xi Zhu's Blogs</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- AwesomeFont core CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <!-- Custom styles for this template -->
    <link href="/assets/css/home.css" rel="stylesheet">
    <link href="/css/general.css" rel="stylesheet">

    <!-- jQuery core script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- ckEditor core script -->
    <script src="/javascripts/ckeditor/ckeditor.js"></script>
</head>

<body>

<% include menu %>

<div class="bg"></div>

<div class="jumbotron">
    <div class="container">
        <h1>Xi Zhu</h1>
        <p>A humble programmer with big dream.</p>
        <p><a class="btn btn-primary" href="files/resume.pdf" role="button">Resume</a></p>
    </div>
</div>

<div class="container marketing">
    <!-- Example row of columns -->

    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1 id="blog">Blog</h1>
            </div>
            <div id="blog_block">

            </div>
        </div>

</div> <!-- /container -->

<footer class="footer-distributed">
    <div class="footer-right">
        <a href="https://www.facebook.com/xi.zhu.92"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="https://ca.linkedin.com/in/xi-zhu-4b1a5797"><i class="fa fa-linkedin"></i></a>
        <a href="https://github.com/StriveX"><i class="fa fa-github"></i></a>
    </div>
    <div class="footer-left">
        <p class="footer-links">
            <a href="/">Home</a>·
            <a href="/#blog">Blog</a>·
            <a href="/about">About</a>
        </p>
        <p>Xi Zhu; Last updated on March 2016</p>
    </div>
</footer>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-6">
                    <p>Mr. Zhu was born in Febrary, 1993 and spent his childhood in Jinan, China.
                        He has a natural interest in fine art and math, and also enjoys travelling since young.
                        After graduating from high school, he came to Canada to have his undergraduate education at University of Waterloo. <br />
                        He intended to take major in mathematical finance in his first year. Until he got the chance to write real </p>
                </div>
                <div class="col-md-6">
                    <p>programs when he was Co-op at AIG, he found the enjoyment of programming and finally understood what is his true love. <br />
                        Today, Mr. Zhu eagerly is gulping down knowledge with unmatched enthusiasm.
                        As a CS student who interests also in statistics and optimization, he is aiming at data analysis studying. Hopefully, he could make his contribution to this world.</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


<script src="/javascripts/bootstrap.min.js"></script>
<script type="text/javascript">
    var curPage = "1";
    $("[data-toggle=popover]").popover();
    var jumboHeight = $('.jumbotron').outerHeight();
    function parallax(){
        var scrolled = $(window).scrollTop();
        $('.bg').css('height', (jumboHeight-scrolled) + 'px');
    }
    $(window).scroll(function(e){
        parallax();
    });

    function loadBlogs(page) {
        $.ajax({
            url : page,
            type : "GET",
            success : function(rst) {
                $("#blog_block").append($.parseHTML(rst));
            },
            error : function(xhr,errmsg,err) {
            }
        });
    }
    $(document).ready(function() {
        loadBlogs(curPage);
    });
    $(".pagination>a").click(function() {
        loadBlogs($(this).text());
    });
</script>
</body>
</html>
