<!DOCTYPE html>
<html>
<head>
	<title>Upload Photo</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="/assets/css/main.css" />
</head>

<body>
<div id="wrapper" class="divided">

	<section class="spotlight style4 content-align-left fullscreen">
		<div class="content">
			<h1>Login</h1>
			<% include messages %>
			<form method="post" action="/login" id="login-form">
				<div class="field half first">
					<label for="name">Name</label>
					<input type="text" class="form-control" id="name" name="user[name]" placeholder="Name">
				</div>
				<div class="field half first">
					<label for="password">Password</label>
					<input type="password" class="form-control" id="password" name="user[pass]" placeholder="Password">
				</div>
				<div class="alert alert-danger" id="login-alert" role="alert" style="display: none"></div>
				<ul class="actions">
					<li><a href="javascript:{}" class="button special" onclick="document.getElementById('login-form').submit(); return false;">Log in</a></li>
					<li><a href="/register" class="button">Register</a></li>
					<!--<button type="submit" class="button special" id="login-submit">Login</button>-->
				</ul>
			</form>
		</div>
		<div class="image">
			<img src="images/bg_01.jpg" alt="" />
		</div>
	</section>
</div>
<script src="/assets/js/login.js"></script>
</body>
</html>
