<!DOCTYPE html>
<html>
<head>
    <title>Upload Photo</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/assets/css/main.css" />
</head>

<body>
<div id="wrapper" class="divided">

    <section class="spotlight style4 content-align-left fullscreen">
        <div class="content">
            <h1>Register</h1>
            <% include messages %>
            <form method="post" action="/register" onsubmit="return checkForm()" id="register-form">
                <!--<div class="well">Account is used to display relevant content for different group. N</div>-->
                <div class="field third first">
                    <input type="radio" name="user[type]" id="registerType1" value="employer" onclick="javascript:typeCheck();" checked />
                    <label for="registerType1">Employer</label>
                </div>
                <div class="field third">
                    <input type="radio" name="user[type]" id="registerType2" value="friend" onclick="javascript:typeCheck();" />
                    <label for="registerType2"> Friend</label>
                </div>

                <div class="field half first">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="user[name]" placeholder="Name" required autocomplete="off">
                </div>
                <div class="field half">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="email" name="user[email]" placeholder="Email" required autocomplete="off">
                </div>
                <div class="field first">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="user[pass]" placeholder="Password" required autocomplete="off">
                </div>


                <div id="employerField" style="display:block">
                    <div class="field first">
                        <label for="name">Organization Name</label>
                        <input type="text" class="form-control" id="name" name="user[orgname]" placeholder="Organization Name">
                    </div>
                    <div class="field first">
                        <label for="name">Website</label>
                        <input type="text" class="form-control" id="name" name="user[website]" placeholder="Website">
                    </div>
                </div>

                <div class="alert alert-danger" id="register-alert" role="alert" style="display: none"></div>
                <ul class="actions">
                    <li><a href="javascript:{}" class="button special" onclick="document.getElementById('register-form').submit(); return false;">Register</a></li>
                    <li><a href="/login" class="button">Log in</a></li>
                </ul>
            </form>
        </div>
        <div class="image">
            <img src="images/bg_01.jpg" alt="" />
        </div>
    </section>
</div>

<script src="/assets/js/login.js"></script>
</body>
</html>
