.no-jumbotron {
    padding: 60px 15px 0;
}

.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

#login-tab, #register-tab {
    padding: 20px 5px;
}

.nav-tabs>.active {
    font-weight: 800;
}


