<!DOCTYPE html>
<html>
<head>
    <title>Upload Photo</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <script src="/assets/js/ckeditor/ckeditor.js"></script>
</head>

<body>
<div id="wrapper" class="divided">

    <section class="spotlight style4 content-align-left">
        <div class="content">
            <h1>Upload Photo</h1>
            <p>Upload a photo to my gallery.</p>
            <form method="post" action="/admin/blog">
                <% if (isEdit ) {%>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" name="title" id="title" value="<%= title %>">
                </div>
                <input type="text" name="id" value="<%= id %>">
                <% }  else { %>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" name="title" id="title">
                </div>
                <% } %>
                <div class="form-group">
                    <textarea class="form-control" name="content" id="content" rows="20" cols="80">
                        <% if (isEdit ) {%>
                        <%= content %>
                        <% } %>
                    </textarea>
                </div>
                <script>
                    CKEDITOR.replace('content');
                </script>
                <button type="submit" class="btn btn-default">Save</button>
                <button type="button" class="btn btn-default">Cancel</button>
            </form>
        </div>
        <div class="image">
            <img src="images/spotlight01.jpg" alt="" />
        </div>
    </section>
</div>
<script type="text/javascript">
    function save_post() {
        var data = CKEDITOR.instances.editor1.getData();
        console.log(data);
    }
</script>
</body>
</html>


