
					<% posts.forEach(function(post) { %>
						<section>
							<h3><a href="post/<%= post['post_id'] %>"><%= post['post_title'] %></a></h3>
							<h6 class='date'><%= post['post_date'] %></h6>
							<p><%= post['post_desc'] %></p>
						</section>
						<hr />
					<% }) %>